@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


/* .content-section {
    @apply max-w-7xl mx-auto px-[119px];
} */

.hover-image {
    @apply transform transition-transform duration-300 hover:-translate-y-2 cursor-pointer;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 24px;
    opacity: 1;
}

.overlay-kajian {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: opacity 0.3s ease;
    border-radius: 24px;
    opacity: 1;
    background: linear-gradient(0deg, #131313 0%, rgba(255, 255, 255, 0) 90%);
    background-blend-mode: multiply;
}

.overlay-call-action {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: opacity 0.3s ease;
    border-radius: 24px;
    opacity: 80%;
    background: linear-gradient(90deg, #389ED9 1.35%, #B1CF1F 100%);
}

@media (min-width: 768px) {
    .content-section {
        @apply max-w-[1127px] mx-auto;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
  
.sembunyikan {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.sponsor-container {
    overflow: hidden;
    white-space: nowrap;
}

.sponsor-container .flex {
    display: flex;
    min-width: 200%;
    animation: scrollLeft 20s linear infinite;
}
  
@keyframes scrollLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.sponsor-container-right {
    overflow: hidden;
    white-space: nowrap;
}

.sponsor-container-right .flex {
    display: flex;
    min-width: 200%;
    animation: scrollRight 20s linear infinite;
}
  
@keyframes scrollRight {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(50%);
    }
}

.input,
.pseuinput {
    background-color: #f7f8f8;
    border: 0.0625rem solid #f7f8f8;
    border-radius: 0.25rem;
    height: 3rem;
    outline: none;
    font-weight: 400;
    transition: all .2s ease-in-out
}